body {
  background-color: rgb(107, 106, 106);
}

img {
  border-radius: 5px;
  opacity: 0.8;
}

img:hover {
  opacity: 1;
}

.photo-card {
  float: left; /*Задаем обтекание*/
  background: darkgray;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 320px; /*Фиксируем ширину блока*/
  height: 400px;
  border-radius: 5px;
}

.stats {
  padding-left: 5px;
}

.search-form {
  margin-left: 35px;
  padding: 25px 30px;
}

.tiilte-post {
  color: #0c443e;
  padding: 20px 10px 0px 0px;
  margin: 10px 0px 10px 0px;
}

.descreption-foto {
  padding: 5px 0 7px 20px;
}
.button {
  // display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;

  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 30px 15px 15px 0;
  outline: none;
  border: none;
  // border-radius: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #3775dd;
}

.btn {
  margin-left: 105px;
}

.button.is-hidden {
  display: none;
}

button > .spinner.is-hidden {
  display: none;
}
